.LastComments {
  padding: 30px 0;
  .nameSection {
    display: block;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 10px 0;
    border-bottom: 0.5px solid lightgray;
    h4 {
      text-align: center;
      font-size: 30px;
    }
  }
  .LastCommentContainer {
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .Item  {
      color: black;
      .avaIcon {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: grey;
        margin-bottom: 30px;
      }
      .categoria {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      .subjectName {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      .dateCreate {
        display: block;
        text-align: center;

      }
    }
  }
}