.LastComments {
  padding: 20px 0;
  .lastCommentHeader {
    display: flex;
    align-items: center;
    h4 {
      text-align: center;
    }
  }
  .LastCommentContainer {
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .Item  {
      color: black;
      .avaIcon {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: grey;
        margin-bottom: 30px;
      }
      .categoria {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      .subjectName {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      .dateCreate {
        display: block;
        text-align: center;

      }
    }
  }
}