  header {
    background: #10101057;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 99999;
    .myContainer {
      display: flex;
      justify-content: space-between;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 10px;
      .logo {
        padding-top: 10px;
        width: 200px;
        height: 62px;
        overflow: hidden;
        h1 {
          font-size: 10px;
        }
      }
      .mainNav {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            position: relative;
            margin-right: 50px;
            overflow: hidden;
            a {
              display: block;
              height: 100%;
              width: 100%;
              line-height: 52px;
              font-size: 30px;
              color: white;
              padding: 10px;
            }
          }
          li:last-child {
            margin-right: 0;
          }
          li:hover {
            background: #333232;
          }
        }
      }
      .enter {
        padding: 10px 0;
        a {
          padding: 10px 30px;
          border-radius: 10px;
          background: #333232;
          line-height: 52px;
        }
      }
    }

  }

