@import url(normalize.css);
* {
  font-family: Helvetica, Arial, sans-serif; }

body {
  margin: 0; }

.flex-wrapper {
  display: flex;
  justify-content: center; }

.footer {
  background-color: black;
  color: white;
  font-size: 18px; }

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px; }

.footer .container {
  display: flex;
  text-align: center; }

.min-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; }

.social ul {
  list-style: none;
  display: flex;
  padding: 0; }

.social li {
  margin: 15px 15px 20px 15px;
  width: 10px;
  height: 10px; }

p {
  margin: 10px 0; }

header {
  background: #101010; }

header .myContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px; }

header .myContainer .logo {
  padding-top: 10px;
  width: 200px;
  height: 62px;
  overflow: hidden; }

header .myContainer .logo h1 {
  font-size: 10px; }

header .myContainer .mainNav ul {
  display: flex;
  justify-content: space-between; }

header .myContainer .mainNav ul li {
  position: relative;
  margin-right: 50px;
  overflow: hidden; }

header .myContainer .mainNav ul li a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 52px;
  font-size: 25px;
  color: white;
  padding: 10px; }

header .myContainer .mainNav ul li:last-child {
  margin-right: 0; }

header .myContainer .mainNav ul li:hover {
  background: lightblue; }

header .myContainer .enter {
  padding: 10px 0; }

header .myContainer .enter a {
  padding: 10px 30px;
  border-radius: 10px;
  background: lightblue;
  line-height: 52px; }

.LastComments {
  padding: 20px 0; }

.LastComments .lastCommentHeader {
  display: flex;
  align-items: center; }

.LastComments .lastCommentHeader h4 {
  text-align: center; }

.LastComments .LastCommentContainer {
  max-width: 770px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.LastComments .LastCommentContainer .Item {
  color: black; }

.LastComments .LastCommentContainer .Item .avaIcon {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: grey;
  margin-bottom: 30px; }

.LastComments .LastCommentContainer .Item .categoria {
  display: block;
  text-align: center;
  margin-bottom: 10px; }

.LastComments .LastCommentContainer .Item .subjectName {
  display: block;
  text-align: center;
  margin-bottom: 10px; }

.LastComments .LastCommentContainer .Item .dateCreate {
  display: block;
  text-align: center; }

.Welcome {
  background: #000;
  color: #fff;
  height: 450px; }

.Welcome .inner {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 1300px; }

.Welcome h1 {
  font-size: 4em; }

.Welcome p {
  margin: -5px auto;
  padding: 40px;
  border: 1px dashed #fff;
  width: 50%;
  font-size: 1.5em; }
