@import "Categories/index.scss";
@import "Comment/index.scss";
@import "Footer/index.scss";
@import "Header/index.scss";
@import "LastComments/index.scss";
@import "UploadComment/index.scss";
@import "Welcome/index.scss";
@import "normalize.css";